{# src/User/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/userblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/userblog/css/sidebar.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
        <nav>
            <ul class="navigation">
                <li><a href="http://localhost/PhpstormProjects/chocolate-basket/web/app_dev.php/register">Register</a></li>
                <li><a href="http://localhost/PhpstormProjects/chocolate-basket/web/app_dev.php/login">Login</a></li>
            </ul>
        </nav>
{% endblock %}
