{# src/User/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'UserBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact Chocolate Basket</h1>
    </header>

    <p>Want to contact Chocolate Basket?</p>
{% endblock %}