.sidebar .section { margin-bottom: 20px; }
.sidebar h3 { line-height: 1.2em; font-size: 20px; margin-bottom: 10px; font-weight: normal; background: #eee; padding: 5px;  }
.sidebar p { line-height: 1.5em; margin-bottom: 20px; }
.sidebar ul { list-style: none }
.sidebar ul li { line-height: 1.5em; display: inline;}
.sidebar nav { padding: 0; margin: 0; text-align: center;}
.sidebar a { display:inline-block; margin: 0 30px;}
.sidebar .small { font-size: 12px; }
